Travel_Agent_WebApp_JoseRodriguez/Service References/CurrencyExchangeRate_ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExchangeRateCalculator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfConvertion" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeRateCalculatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExchangeRateCalculatorResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>